.bodd {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.input {
    text-decoration: none;
    border: 0;
    font-size: 1vw;
}


.card1, .card2, .card3 {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1.5vh;
    width: 95%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 1.5vh;
    transition: height 0.5s ease; /* Transición suave */
}


.card3 {
    height: 15vh;
}

.card2 {
    margin-top: 1.5vh;
    height: 18vh;
    margin-bottom: 1.5vh;
}

.card1 {
    height: 14vh;
    margin-top: 1.5vh;
}

.card-small {
    height: 6vh; /* Altura cuando el contenido está oculto */
}

.headerr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc; /* Línea gris debajo del título */
    padding-bottom: 10px; /* Espacio para que la línea no esté pegada al texto */
}

.headerr h2 {
    font-size: 1.1vw;
    font-weight: bold;
    margin: 0;
}

.headerr i {
    font-size: 1vw;
    color: #999;
    transition: transform 0.3s ease;
}

.contenrt {
    max-height: 10vh;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.contenrt.hidden {
    opacity: 0;
    padding: 0;
    max-height: 1vh;
}

.p {
    font-size: 1vw;
    color: #666;
}

.a {
    width: 50%;
    height: 100%;
}

.p span {
    color: #333;
    font-weight: bold;
}

.services {
    display: flex;
}

.services div {
    align-items: center;
    font-size: 1vw;
    color: #666;
}

.services i {
    margin-right: 5px;
    font-size: 1vw;
    color: #333;
}

.toggle-icon.fa-chevron-down {
    transform: rotate(180deg);
}
