* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Jost', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: #EBEBEB;
    overflow: hidden;
}

/* Header styling */
.header {
    width: 100%;
    background-color: white;
    color: white;
    padding: 15px;
    top: 0;
    left: 0;
    z-index: 20;
    font-size: 24px;
    height: 15vh;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.parent {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.div1 {
    width: 25%;
    background-color: #F7F6F6;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.div2 {
    width: 75%;
    background-color: #EBEBEB;
    transition: all 0.3s ease-in-out;
    overflow-y: auto;
}

/* Flecha para ocultar y mostrar */
.toggle-arrow {
    position: absolute;
    left: calc(25% - 20px);
    transform: translateY(0%);
    cursor: pointer;
    font-size: 24px;
    background-color: #00D976;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vw;
}

/* Clases para ocultar y mostrar */
.hidden .div1 {
    transform: translateX(-5vw);
    width: 0vw;
}

.hidden .div2 {
    width: 100%;
}

/* Mostrar solo mitad derecha del botón cuando sidebar está oculto */
.hidden .toggle-arrow {
    left: -40px;
    transform: translate(50%, -0%);
}

.login-text {
    text-decoration: underline;
    color: #2bc26f;
    cursor: pointer;
    margin: 10px;
}

.hrs-can, .hrs-ver {
    display: none;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
}

/* Mostrar contenido según el checkbox seleccionado */
#chk1:checked ~ .parent .hrs-can {
    display: block;
}

#chk2:checked ~ .parent .hrs-ver {
    display: block;
}

.division{
    height: 100%;
    width: 100%;
    display: flex;
}

.first-half{
    width: 50%;
    display: flex;
    align-items: center;
}

.second-half{
    width: 50%;
    display: flex;
    align-items: center;
    position: relative;
}

.first-p {
    width: 100%;
    position: relative;
}

.perfil-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ff-h{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1%;
}

.ff-h h1{
    font-size: 2.5vw;
    color: black;
}

.first-half h1{
    font-size: 2.5vw;
    margin-left: 2vw;
    color: black;
}        

#logoaqui{
    width: 8vw;
    height: 8vw;
}

#monito{
    position: absolute;
    width: 7vw;
    height: 7vw;
}

#f-perfil{
    width: 5vw;
    height: 5vw;
    border-radius: 100px;
    object-fit: cover;
    position: absolute;
    outline: 2px solid white;
    box-shadow: 0px 0px 35px #050505;
}

.ss-h{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reservado {
    background-color: #ffcccc; /* Rojo para reservado */
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.confirmada {
    background-color: #ccffcc; /* Verde para confirmada */
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    height: 30px;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 50vw;
    height: 80vh;
    margin: auto;
}

.modal-buttons {
    width: 46vw;
    height: 10vh;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-end;
    padding-right: 4vw;
    bottom: 10vh;
}

.modal-buttons button {
    margin-left: 10px;
}

#conf{
  background: green;
  border-radius: 11px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: Mija,-apple-system,BlinkMacSystemFont,Roboto,"Roboto Slab","Droid Serif","Segoe UI",system-ui,Arial,sans-serif;
  font-size: 1.15em;
  font-weight: 700;
  justify-content: center;
  line-height: 33.4929px;
  padding: .1,5em 0,5em;
  text-align: center;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
  text-underline-offset: 1px;
  transition: all .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  word-break: break-word;
  border: 0;
  margin-left: 1vw;
}

.button-44:active,
.button-44:focus {
  border-bottom-style: none;
  border-color: #dadada;
  box-shadow: rgba(0, 0, 0, .3) 0 3px 3px inset;
  outline: 0;
}

.button-44:hover {
  border-bottom-style: none;
  border-color: #dadada;
}
#canc{
    background: red;
    border-radius: 11px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-family: Mija,-apple-system,BlinkMacSystemFont,Roboto,"Roboto Slab","Droid Serif","Segoe UI",system-ui,Arial,sans-serif;
    font-size: 1.15em;
    font-weight: 700;
    justify-content: center;
    line-height: 33.4929px;
    padding: .1,5em 0,5em;
    text-align: center;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
    text-underline-offset: 1px;
    transition: all .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    word-break: break-word;
    border: 0;
}
.no-transition * {
    transition: none !important;
}
.first-dd{
    margin-top: 10vh;
    width: 100%;
    height: 5vh;
}
.second-dd{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 68vh;
}
.btn-111{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ekis{
    width: 15vw;
    height: 5vh;
    border-radius: 15px;
    background-color: #179450;
    color: white;
    font-weight: 500;
    border: 0;
    font-size: 1em;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
#ekis:hover{
    background-color: #22a55e;
    transform: scale(1.1); /* Agrandar el botón ligeramente */
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.btn-25{
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.btn-75{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-1, .btn-2, .btn-3{
    width: 100%;
    height: 100%;
    display: flex;
}
.btn-chk{
	border-radius: 5px;
	display: inline-block;
	cursor: pointer;
	color: black;
	font-size: 17px;
	text-decoration: none;
}
.izq-can, .izq-ver, .izq-inf{
    width: 1vw;
    height: 100%;
    margin-right: 1vw;
}
#infoReserva{
    display: flex;
    justify-content: center;
    align-items: center;
}
.m-modal{
    width: 40vw;
    height: 70vh;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    outline: 1px solid gray;
}
.m-header{
    width: 100%;
    height: 10vh;
    border-radius: 5px;
    outline: 1px solid gray;
    display: flex;
}
.m-content{
    display: flex;
    width: 100%;
    height: 55vh;
}
.m-izq{
    width: 40%;
    height: 100%;
}
.m-der{
    width: 60%;
    height: 100%;
}
.m-header > .m-izq{
    width: 10%;
    padding-left: 1vw;
    display: flex;
    align-items: center;
}
.m-header > .m-der{
    width: 90%;
    color: #134563;
    font-weight: 600;
    display: flex;
    padding-left: 1vw;
    justify-content: flex-start;
    align-items: center;
    font-size: 2vw;
}
#calendar{
    width: 95%;
}
.m-izq > [class^="m-"]{
    padding-left: 1vw;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
}
.m-der > [class^="m-"]{
    padding-left: 3vw;
    display: flex;
    justify-content: flex-start;
}
.m-uno, .m-dos, .m-tres, .m-cuatro, .m-cinco, .m-seis, .m-siete, .m-ocho, .m-nueve{
    height: 5vh;
}
.m-cinco{
    font-style: italic;
}
.m-cero{
    height: auto;
    width: 100%;
    color: #134563;
    font-weight: 600;
    padding: 1vw;
    display: flex;
}
