.main{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #EBEBEB;
}

/* Center the loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

    /* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-50px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-50px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

#myDiv {
    display: none;
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
}

header{
    height: 20vh;
    width: 100%;
    position: absolute;
    top: 0;
}

.division{
    height: 100%;
    width: 100%;
    display: flex;
}

.first-half{
    width: 50%;
    display: flex;
    align-items: center;
}

#logoaqui{
    width: 12vw;
    height: 12vw;
}

.second-half{
    width: 50%;
    display: flex;
    align-items: center;
    position: relative;
}

.first-p {
    width: 100%;
    position: relative;
}

.perfil-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ff-h{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 3%;
}

.ff-h h1{
    font-size: 2.5vw;
}

.first-half h1{
    font-size: 2.5vw;
    margin-left: 2vw;
}

.first-half img{
    width: 12vw;
    height: 12vw;
    margin-left: 2vw;
}

#monito{
    position: absolute;
    width: 10vw;
    height: 10vw;
}

#f-perfil{
    width: 7vw;
    height: 7vw;
    border-radius: 100px;
    object-fit: cover;
    position: absolute;
    outline: 2px solid white;
    box-shadow: 0px 0px 35px #050505;
}

.ss-h{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ppfil{
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-perfil {
    position: absolute;
    width: 23vw;
    height: 60vh;
    transform: translate(26vw, -90vh); /*Width, Height*/
    transition: transform 0.8s ease-in-out;
    border-radius: 20px;
    z-index: 999;
    background-color: white;
}

.separr{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#f-perfil-side{
    width: 7vw;
    height: 7vw;
    border-radius: 100px;
    object-fit: cover;
    position: absolute;
    outline: 5px solid white;
    box-shadow: 0px 0px 35px #ffffff;
}

#ekis {
    width: 15vw;
    height: 5vh;
    border-radius: 15px;
    background-color: #179450;
    color: white;
    font-weight: 500;
    border: 0;
    font-size: 1em;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

#ekis:hover {
    background-color: #22a55e;
    transform: scale(1.1); /* Agrandar el botón ligeramente */
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.colorr{
    width: 100%;
    height: 25vh;
    background-image: url(../uploads/cabecera.png);
    background-size: fill;
    background-position: center;
    background-repeat: no-repeat;
}

.separ{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nombrerr{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    font-weight: 500;
    padding-bottom: 1vw;
}

.asad{
    width: 100%;
    height: 25vh;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}

.cerrar-sin{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-perfil label {
    transform: scale(0.6);
    transition: transform 0.5s ease-in-out;
}

#chk:checked ~ .second-half .side-perfil {
    transform: translate(26vw, 16vh);
}

#chk:checked ~ .second-half .side-perfil label {
    transform: scale(1);
}

#chk:checked ~ .second-half .first-p label {
    transform: scale(1);
}

label {
    color: #2bc26f;
    font-size: 2vw;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
}

#chk{
    display: none;
}

.megacar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.carru{
    width: 100%;
    height: 100%;
}

.carousel-item img {
    width: 100%;  /* Ajusta el ancho de la imagen al 100% del contenedor */
    object-fit: cover;
    height: 30vw;
    border-radius: 5px;    
}

#selecc{
    font-weight: 500;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
}

.padel{
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #00D976;
    color: white;
    font-weight: 700;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 5vh;
    border-radius: 4px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pdel-txt{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opciones-padel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    margin-top: 5vh;
}

.canchaA{
    width: 48%;
    height: 25vh;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 2%;
    border-radius: 7px;
    background-color: white;
}

.canchaB{
    width: 48%;
    height: 25vh;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 2%;
    border-radius: 7px;
    background-color: white;
}

.tx{
    width: 100%;
    height: 20%;
    padding-top: 2%;
    padding-left: 5%;
    font-size: 1.2em;
    font-weight: 500;
}

.tx-1{
    width: 100%;
    height: 12%;
    margin-top: 6px;
    padding-left: 5%;
    font-size: 0.9em;
    color: #bbb;
}

.tx-2{
    width: 100%;
    height: 20%;
    padding-left: 5%;
    font-size: 1.2em;
    font-weight: 500;
}

.tx-3{
    width: 100%;
    height: 12%;
    padding-left: 5%;
    font-size: 0.9em;
    color: #bbb;
}

.tx-4{
    width: 100%;
    height: 36%;
    padding-left: 5%;
    padding-right: 5%;
    color: #bbb;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.tx-4 a{
    font-size: 0.9em;
    background-color: #00D976;
    border-radius: 5px;
    color: white;
    border: 1px solid #00D976;
    border-radius: 10px;
    font-weight: 500;
}

.tx-4 a:hover {
    background-color: #22a55e;
    color: white;
    transform: scale(1.1); /* Agrandar el botón ligeramente */
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}


#mapa{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.bodd {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card1, .card2, .card3 {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1.5vh;
    width: 95%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: height 0.15s ease; /* Transición suave */
}

.card3 {
    height: 18vh;
}

.card2 {
    margin-top: 0.5vh;
    height: 15vh;
    margin-bottom: 0.5vh;
}

.card1 {
    height: 14vh;
}

.card-small {
    height: 6vh; /* Altura cuando el contenido está oculto */
}

.headerr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc; /* Línea gris debajo del título */
    padding-bottom: 10px; /* Espacio para que la línea no esté pegada al texto */
}

.headerr h2 {
    font-size: 1.2vw;
    font-weight: bold;
    margin: 0;
}

.headerr i {
    font-size: 1vw;
    color: #999;
    transition: transform 0.1s ease;
}

.contenrt {
    max-height: 9vh;
    transition: max-height 0.1s ease, opacity 0.1s ease;
}

.contenrt i{
    color: black;
}

.contenrt.hidden {
    opacity: 0;
    padding: 0;
    max-height: 1vh;
}

.input {
    text-decoration: none;
    border: 0;
    font-size: 1.1vw;
}

.p {
    font-size: 1.1vw;
    color: #666;
    line-height: 10px;
}

.a {
    font-size: 100px;
    width: 50%;
    height: 100%;
}

.bold {
    color: #333;
    font-weight: bold;
}

.txt{
    font-size: 1.1vw;
}

.services {
    display: flex;
}

.services div {
    align-items: center;
    font-size: 0.6vw;
    color: #666;
}

.services i {
    margin-right: 5px;
    font-size: 1vw;
}

.toggle-icon.fa-chevron-down {
    transform: rotate(180deg);
}

footer{
    height: 25vh;
    width: 100%;
    position: relative;
    bottom: 0;
}

.divisions{
    height: 20vh;
    width: 100%;
    display: flex;
}

#uno-d-logo{
    width: 15vh;
    height: 15vh;
}

.uno-d a{
    font-size: 1em;
    margin-left: 1vh;
    font-weight: 500;
}

.copy{   
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uno-d, .dos-d, .tre-d, .cua-d{
    width: 25%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#rrss{
    font-size: 2vh;
}

.img-rr{
    display: flex;
    justify-content: center;
}

#a-ref{
    margin-right: 2vh;
}

#rr-ins1 ,#rr-ins2{
    margin-top: 1vh;
    height: 3vh;
    width: 3vh;
}

#cnt-d, #cnt-gm{
    font-size: 2vh;
    line-height: 0;
    display: block;
}

#sa-ref:hover{
    transform: translate(0,-10%);
    transition: .6s;
}

#a-ref:hover{
    transform: translate(0,-10%);
    transition: .6s;
}

/* Degradado para el icono prev (izquierda a derecha) */
.carousel-control-prev::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 80%); /* Degradado de blanco a transparente */
    pointer-events: none; /* Permitir que los clics pasen a los elementos debajo */
}

/* Degradado para el icono next (derecha a izquierda) */
.carousel-control-next::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 80%); /* Degradado de blanco a transparente */
    pointer-events: none; /* Permitir que los clics pasen a los elementos debajo */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: solid white; /* Color de las flechas */
}


@media only screen and (min-width: 100px) and (max-width: 767px){
    .parent {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 0.5fr repeat(5, 1fr) 0.5fr repeat(5, 1fr);
        gap: 8px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .div-1 {
        background-color: white;
        border-radius: 0px 0px 40px 40px;
    }

    .div-2 {
        grid-row: span 2 / span 2;
        padding: 1vh;
    }
    
    .div-3 {
        grid-row: span 2 / span 2;
        grid-row-start: 4;
        padding: 1vh;
    }
    
    .div-4 {
        grid-row: span 2 / span 2;
        grid-row-start: 6;
        padding: 1vh;
        margin-top: 3vw;
    }

    .div-5 {
        grid-row-start: 8;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        padding: 1vh;
    }
    
    .div-6 {
        grid-row: span 2 / span 2;
        grid-row-start: 9;
        padding: 1vh;
        height: 50vw;
    }
    
    .div-7 {
        grid-row: span 2 / span 2;
        grid-row-start: 11;
        padding: 1vh;
    }
    
    .div-8 {
        grid-row-start: 13;
        background-color: white;
    }

    header{
        height: 10vh;
        width: 100%;
        position: absolute;
        top: 0;
    }

    #logoaqui{
        width: 12vw;
        height: 12vw;
    }

    .headerr h2 {
        font-size: 2vw;
        font-weight: bold;
        margin: 0;
    }

    .input {
        font-size: 5vw;
    }

    .input {
        text-decoration: none;
        border: 0;
        font-size: 2vw;
    }
    
    .p {
        font-size: 2vw;
        color: #666;
        line-height: 10px;
    }
    
    .a {
        font-size: 100px;
        width: 50%;
        height: 100%;
    }
    
    .txt{
        font-size: 2vw;
    }

    .services i {
        margin-right: 5px;
        font-size: 2vw;
    }

}

@media only screen and (min-width: 768px){
    .parent {
        display: flex;
        flex-direction: column; /* Coloca todos los elementos en columna */
        gap: 8px; /* Espacio entre los divs */
        width: 100%;
    }
    
    .group {
        display: flex; /* Agrupa los divs que deben estar en la misma fila */
        gap: 8px; /* Espacio entre los divs en la misma fila */
    }
    
    .div-1{
        background-color: white;
        border-radius: 0px 0px 40px 40px;
        width: 100%;
    }
    
    .div-2{
        padding: 1vh;
        width: 100%;
    }

    .div-3{
        width: 70%;
        padding: 1vh;
    }

    .div-4{
        width: 30%;
    }

    .div-5{
        padding: 1vh;
        width: 100%;
    }

    .div-6{
        padding: 1vh;
        width: 60%;
        height: 50vh;
    }

    .div-7{
        padding: 1vh;
        width: 40%;
    }

    .div-8{
        background-color: white;
        border-radius: 20px 20px 0px 0px;
        width: 100%;
    }
}