/* Estilos base */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f7f9;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.left-panel, .right-panel {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.left-panel {
    width: 70%;
}
.right-panel {
    width: 25%;
}
.header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.tabs {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
}
.tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    color: #9e9e9e;
}
.tab.active {
    color: #4BC588;
    border-bottom: 2px solid #4BC588;
}
.calendar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.month {
    font-size: 16px;
    font-weight: bold;
}
.days {
    display: ruby;
    gap: 10px;
}
.day {
    text-align: center;
    margin: 5px;
}
.fecha-boton {
    background-color: white;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fecha-boton .dia-semana {
    font-size: 14px;
    font-weight: bold;
}
.fecha-boton .numero-dia {
    font-size: 18px;
}
.fecha-boton:hover {
    background-color: #4BC588;
    color: white;
}
.active .fecha-boton {
    background-color: #4BC588;
    color: white;
}
.calendar .day.active {
    background-color: #4BC588;
    color: #ffffff;
    border-radius: 20%;
}
.time-slots {
    margin-bottom: 20px;
}
.time-slots .period {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
.hora-boton {
    padding: 10px 20px;
    border: 1px solid #4BC588;
    border-radius: 5px;
    color: #000000; /* Color negro predeterminado */
    cursor: pointer;
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.25);
    background-color: white;
}
.hora-boton.resaltado,
.hora-boton:hover {
    background-color: #4BC588; /* Fondo verde */
    color: white; /* Color del texto en blanco */
}
.hora-boton.fuente {
    color: white; /* Color blanco para botones seleccionados */
}
.time-slots .bloque-horas {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.service-info {
    background-color: #e8f5e9;
    padding: 20px;
    border-radius: 8px;
}
.service-info .item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.service-info .item i {
    margin-right: 10px;
    color: #4BC588;
}
.ocupado {
    background-color: #e57373; /* Rojo para ocupado */
    cursor: not-allowed;
}
.reservar {
    margin-top: 5px;
    font-size: 0.9em;
    background-color: #00D976;
    border-radius: 5px;
    color: white;
    border: 1px solid #00D976;
    font-weight: 500;
    width: 100%;
}
.reservar:hover {
    background-color: #22a55e;
    border: 1px solid #22a55e;
    color: white;
    transform: scale(1.01); /* Agrandar el botón ligeramente */
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.arrow {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
}

/* Media Query para pantallas pequeñas (100px - 767px) */
@media only screen and (min-width: 100px) and (max-width: 767px) {
    .container {
        flex-direction: column;
        padding: 10px;
    }
    .left-panel, .right-panel {
        width: 100%;
        margin-bottom: 20px;
    }
    .calendar {
        flex-direction: column;
    }
    .days {
        flex-wrap: wrap;
        overflow: hidden;
        max-width: calc(100% - 20px); /* Ajusta el ancho para mostrar solo 6 días */
    }
    .day {
        flex: 1 0 calc(100% / 6); /* Solo 6 días visibles */
    }
    .bloque-horas {
        gap: 5px;
    }
    .hora-boton {
        padding: 8px;
        font-size: 0.9em;
    }
}

/* Media Query para pantallas medianas y grandes (768px o más) */
@media only screen and (min-width: 768px) {
    .bloque-horas {
        display: flex;
        gap: 10px;
        flex-wrap: nowrap; /* Mantiene las horas en una línea horizontal */
        overflow-x: auto; /* Permite desplazamiento horizontal para ver más horas */
    }
    .hora-boton {
        padding: 10px 15px;
    }
}
